body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Press Start 2P';
}
h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;   
    padding: 1em;
}
body h2 {
    font-size: 18 px;
    padding: 0 3em;
}
#background-image {
    width: 500px;
    height: 300px;
    border: 5px;
    border-style: solid;
    margin: 1em 6em;
    position: relative;
}
.attacker {
    position: absolute;
    left: 100px;
    bottom: -8px;
}
#chose-turtwig, #chose-chimchar, #chose-piplup {
    display: none;
}
body.turtwig #chose-turtwig {
    display: block;
    align-self: flex-end;
    justify-content: flex-start;
}
body.chimchar #chose-chimchar {
    display: block;
}
body.piplup #chose-piplup {
    display: block;
}

.bg-lilypads {
    background-image: url("images/bg-lilypads.png");
    background-size: cover;
}

#pokemon-select {
    display: flex;
    border: 5px;
    border-style: solid;
    padding: .5em;
    margin: 0 12em;
}
#display-pokemon {
    display: flex;
}
#wild-pokemon {
    position: absolute;
    right: 75px;
    top: 48px;
}
#move-choice {
    padding: .5em;
    margin: 0 6em;
    border: 5px;
    border-style: solid;
}
.button #attack-trigger{
    padding: .5em;
    border: 5px;
    border-style: solid;
}